<head>

<!--

      Esta es la parte que se tiene que fragmentar como headApp para no confundir con el header del inicio de sesión
-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Ojo con esta linea -->    <link  th:href="@{/Styles/365parts.css}" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">

    <title>VialidApp MX</title>
    <script>
          document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
          })
    </script>

    <style>
         .modalVapp{
          min-height:85vh;
          border-radius:20px;
         }
         img{
          max-width:90%;
         }
         .negrita{
          font-weight: bold;
         }
    </style>
        
</head>